  <!-- app-footer.component.html -->

<footer class="footer-container ">
    <div class="footer-content container">
      <!-- Ajoutez ici le contenu de votre footer, par exemple des liens, des informations, etc. -->
      <div class="footer-section row mb-5"  style="display: flex;justify-content: center; ">
        <div class="col site-presentation mb-4">
            <h3>About Us</h3>
            <p>
                Bienvenue sur BFS ! Nous sommes une plateforme en ligne passionnée par la mode et les dernières tendances.
                Notre mission est de vous offrir une expérience shopping exceptionnelle en mettant à votre disposition une large gamme de produits de haute qualité.            
            </p>
        </div>
        <div class="col" style="margin: auto;display: flex;justify-content: center;">
            <img src="assets/img/logo.png"  alt="">
        </div>
      </div>
      <div class="footer-section row" style="margin: auto;display: flex;justify-content: center;">
        <div class="col-lg-3 info">
            <h4>Adresse</h4>
            <p>123 The Street Name,</p>
             <p>City name, Country, post code</p>
        </div>
        <div class="col-lg-3 info">
            <h4>Contact</h4>
            <p>Email: contact@example.com</p>
            <p>Téléphone: +123 456 789</p>
        </div>
        <div class="col-lg-3 info">
            <h4>Links</h4>
            <ul>
              <li><a href="#">home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Shop</a></li>
            </ul>
          </div>
      </div>
    </div>
</footer>
  
  