<section id="new-arrivals" class="container m-0 mt-5 ">
    <div class="container-fuild row">
        <div class="col text-center">
            <h2 class="primary">Nouveautés</h2>
            <p class="lead">Découvrez nos derniers produits.</p>
        </div>
    </div>
    <div class="row mt-4 " >
        <div class="col-lg-4 mx-auto">
            <div class="card mb-4 mb-lg-0">
                <img src="assets/img/robe1.jpeg" class="card-img-top" alt="Nouveau produit 1">
                <div class="card-body">
                    <h5 class="card-title">Nom du Produit 1</h5>
                    <p class="card-text">Description concise du produit.</p>
                    <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mx-auto">
            <div class="card mb-4 mb-lg-0">
                <img src="assets/img/home3.webp" class="card-img-top" alt="Nouveau produit 2">
                <div class="card-body">
                    <h5 class="card-title">Nom du Produit 2</h5>
                    <p class="card-text">Description concise du produit.</p>
                    <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mx-auto">
            <div class="card mb-4 mb-lg-0">
                <img src="assets/img/veste1.webp" class="card-img-top" alt="Nouveau produit 3">
                <div class="card-body">
                    <h5 class="card-title">Nom du Produit 3</h5>
                    <p class="card-text">Description concise du produit.</p>
                    <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>

    </div>
</section>
