<!-- Slider avec 5 articles -->
<div id="small-slider" style="width: 48rem !important;" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- slide 1-->
        <div class="carousel-item active">
            <div class="d-flex flex-row justify-content-around">
            <div class="card" >
                <!-- Image de l'article 1 -->
                <img src="assets/img/chemise1.jpg" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 1</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/manteau1.jpeg" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 2</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <!-- Image de l'article 1 -->
                <img src="assets/img/dresse1.jpg" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 3</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/Ensemble1.webp" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 4</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
        </div>
        </div>
        <!-- Slide 2 ... -->
        <div class="carousel-item ">
            <div class="d-flex flex-row justify-content-around">
            <div class="card" style="width: 12rem;">
                <!-- Image de l'article 1 -->
                <img src="assets/img/dresse2.webp" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 1</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/chemise2.jpeg" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 2</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <!-- Image de l'article 1 -->
                <img src="assets/img/dresse3.jpeg" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 3</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/home4.png" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 4</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
        </div>
        </div>

        <!-- Slide 3 ... -->

         <div class="carousel-item ">
            <div class="d-flex flex-row justify-content-around">
            <div class="card" style="width: 12rem;">
                <!-- Image de l'article 1 -->
                <img src="assets/img/T-shirt1.webp" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 1</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/lunette1.webp" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 2</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <!-- Image de l'article 1 -->
                <img src="assets/img/manteau2.jpeg" class="card-img-top" alt="Article 1">
                <!-- Contenu de l'article 1 -->
                <div class="card-body">
                    <h5 class="card-title">Article 3</h5>
                    <p class="card-text">Description de l'article 1.</p>
                    <!-- Ajoutez d'autres éléments si nécessaire -->
                </div>
            </div>

        <!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

        <!-- Article 2 -->
            <div class="card" style="width: 12rem;">
                <img src="assets/img/pontalon1.webp" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 4</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            </div>
        </div>
        
        </div>
    </div>
    <!-- Contrôles du carrousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#small-slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#small-slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--    MOBILE    -->






<!-- app-slider-mobile.component.html -->
<div class="desktop-only">
<div class="mobile-slider">
    <!-- Ajoutez des éléments de cadre ici (par exemple, des cartes) -->
    <div class="card">
        <img src="assets/img/pontalon1.webp" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <h5 class="card-title">Article 4</h5>
                    <p class="card-text">Description de l'article 2.</p>
                </div>
            
    </div>
    <div class="card">
            <img src="assets/img/lunette1.webp" class="card-img-top" alt="Article 2">
            <div class="card-body">
                <h5 class="card-title">Article 2</h5>
                <p class="card-text">Description de l'article 2.</p>
            </div>
    </div>
    <div class="card" >
        <!-- Image de l'article 1 -->
        <img src="assets/img/chemise1.jpg" class="card-img-top" alt="Article 1">
        <!-- Contenu de l'article 1 -->
        <div class="card-body">
            <h5 class="card-title">Article 1</h5>
            <p class="card-text">Description de l'article 1.</p>
            <!-- Ajoutez d'autres éléments si nécessaire -->
        </div>
    </div>

<!-- Ajoutez des cartes pour les articles 2 à 5 de manière similaire -->

<!-- Article 2 -->
    <div class="card"   >
        <img src="assets/img/manteau1.jpeg" class="card-img-top" alt="Article 2">
        <div class="card-body">
            <h5 class="card-title">Article 2</h5>
            <p class="card-text">Description de l'article 2.</p>
        </div>
    </div>
    <div class="card" >
        <!-- Image de l'article 1 -->
        <img src="assets/img/dresse1.jpg" class="card-img-top" alt="Article 1">
        <!-- Contenu de l'article 1 -->
        <div class="card-body">
            <h5 class="card-title">Article 3</h5>
            <p class="card-text">Description de l'article 1.</p>
            <!-- Ajoutez d'autres éléments si nécessaire -->
        </div>
    </div>
    <!-- Ajoutez d'autres éléments au besoin -->
  </div>
</div>