<section class=" m-0 p-0 " style="position:relative;top: 100px;">
    <div class="container info mb-5" style="background-color: white;display: flex;justify-content: center;padding: 0;
    border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">  
        <div class="row no-gutters align-items-start">
            <div class="col-lg-4">
                <img src="assets/img/hometest.jpg" alt="" style="height: 450px !important;" class="img-fluid custom-image img-left" >
            </div>
            <div class="col-lg-4">
                <section class="panel  p-4 rounded d-flex flex-column justify-content-center align-items-center" style="height: 450px !important; font-style: italic; font-family: 'Arial', sans-serif; text-align: center;">
                    <h2 class="primary">Welcome to Our Site</h2>
                    <p class=" fs-5 p-2 ">
                        Discover an exceptional online shopping experience with our unique 
                        collection of quality products.
                    </p>
                    <a href="shop.html" class="btn btn-custom mt-3">Shop Now</a>
                </section>
            </div>
            <div class="col-lg-4">
                <img src="assets/img/hometest2.jpg" alt="" style="height: 450px !important;" class="img-fluid custom-image img-right">
            </div>
        </div>
    </div>
</section>